@keyframes ldio-3ukwqyx3f4m {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.ldio-3ukwqyx3f4m div {
  position: absolute;
  animation: ldio-3ukwqyx3f4m 1s linear infinite;
  width: 116px;
  height: 116px;
  top: 42px;
  left: 42px;
  border-radius: 50%;
  box-shadow: 0 4.4px 0 0 #e15b64;
  transform-origin: 58px 60.2px;
}
.loadingio-spinner-eclipse-ve88f54hrr {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: transparent;
}
.ldio-3ukwqyx3f4m {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}

.spinnerWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
